// Fonts
@font-face {
	font-family: "Avenir Next";
	src: url("../assets/fonts/avenir_next_font-webfont.woff2") format("woff2"),
		url("../assets/fonts/avenir_next_font-webfont.woff") format("woff");
}
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

$font-weights: (
	"regular": 400,
	"medium": 500,
	"large": 600,
	"xl": 700,
);
@function weight($weight-name) {
	@return map-get($map: $font-weights, $key: $weight-name);
}
@function chooseFont($font-family) {
	@return $font-family, sans-serif;
}

// colors
$primary-color: #39cdcc;
$secondary-color: #213f7d;
$gray-main: #545f7d;
